.DS_Store
*/.DS_Store
**/.DS_Store
.astro/
.vscode/
.idea/
.edgeone/
**/.astro/
**/.vscode/
**/.idea/
**/.edgeone/
**/node_modules/
.pnpm-store/
*~
Thumbs.db
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
**/.env

