---
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <!-- Decorative Line -->
  <div class="uno-decorative-line"></div>
  <!-- 404  -->
  <h1 class="mt-10 text-8 font-title">404</h1>
</Layout>
